//Основной шрифт сайта
$site-font-family: ("Lato", sans-serif);
$site-font-weight: normal;
$site-font-size: 14px;
$site-font-color: black;
$site-line-height: 1.2;

//Параметры центрирующиx контейнеров
$container-width: 1140px;
$container-padding: 16px;

$color-hover: #f16d7f;
$color-focus: #f16d7f;

$color-button-text: #ff6a6a;

$brightness-hover: 130%;
$brightness-focus: 130%;
