@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 1024px;
}

.content {
  flex: 1 1 auto;
}

footer {
  background: #222224;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

/* || HEADER-TOP */

.header-top {
  background: #222224;
}

.header-top>.container {
  display: flex;
  min-height: 74px;
}

/* цвет кнопок SVG */

.icon-color {
  fill: #E8E8E8;
  transition: fill 0.4s;
}

/*  | Логотип */

.container-logo {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 36px 0 0;
  font: 0px/0 "Lato";
}

.logo:focus {
  outline: none;
}

/*  | Форма для поиска */

.search-box {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

/*  | Кнопка поиска */

.search-box_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 20px 0 5px;
  background: none;
  border: none;
  font: 0px/0 "Lato";
}

/* эффект наведения на кнопку (курсор) */

.search-box_button:hover {
  cursor: pointer;
}

/* эффект наведения на кнопку (цвет) */

.search-box_button:hover .icon-color {
  fill: #F16D7F;
}

/* эффект получения фокуса кнопкой */

.search-box_button:focus {
  outline: none;
}

.search-box_button:focus .icon-color {
  fill: #F16D7F;
  outline: none;
}

/*  | Строка поиска */

.search-box_input {
  flex: 1 1 auto;
  padding: 10px 22px;
  border: none;
  border-radius: 19px;
  font: 14px/1.2 "Lato";
  background: #E1E1E1;
  opacity: 0;
  transition: opacity 400ms;
}

/* эффект наведения для строки поиска */

.search-box:hover .search-box_input {
  opacity: 1;
}

/* эффект получения фокуса для строки поиска */

.search-box_input:focus {
  outline: none;
  opacity: 1;
}

/*  | Главное меню */

.main-menu {
  display: flex;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 0px/0 "Lato";
}

/*  | Кнопки главного меню */

.main-menu_items {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.main-menu_items_button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16.5px;
  background: none;
  border: none;
}

/*  | Всплывающее меню */

.pop-up-menu_check {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.pop-up-menu_wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 0;
  min-width: 0;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: min-width 1s;
}

.pup-up-menu_close {
  align-self: flex-end;
  padding: 16px 16px 9px 16px;
  transition: padding 1s;
}

.pup-up-menu_heading {
  margin: 0 0 18px 0;
  padding: 0 33px;
  font: 700 14px/1.2 "Lato";
  text-transform: uppercase;
}

.pop-up-menu {
  margin: 0;
  padding: 0 33px;
  list-style: none;
  font: 14px/1.2 "Lato";
}

/* .pop-up-menu_section {
  padding: 20px 0 0 0;
} */

.pop-up-menu_section_button {
  display: block;
  box-sizing: border-box;
  min-width: 166px;
  padding: 6px 0;
  border: 2px solid #FFF;
  text-decoration: none;
  text-transform: uppercase;
  color: #F16D7F;
  transition: border;
}

.pop-up-menu_submenu {
  margin: 0;
  padding: 0 22px;
  list-style: none;
}

.pop-up-menu_submenu_button {
  display: block;
  box-sizing: border-box;
  min-width: 144px;
  padding: 6px 0;
  border: 2px solid #FFF;
  text-decoration: none;
  color: #6F6E6E;
  transition: border;
}

.pop-up-menu_section {
  list-style: none;
}

.pup-up-menu_close:hover {
  cursor: pointer;
}

.pup-up-menu_close:hover .cross-line {
  stroke: #F16D7F;
}

.pop-up-menu_check:checked~* .pop-up-menu_wrapper {
  min-width: 232px;
}

.pop-up-menu_check:checked~* .pop-up-menu-button .icon-color {
  fill: #F16D7F;
}

.pop-up-menu_check:focus~* .pop-up-menu-button .icon-color {
  fill: #F16D7F;
}

.pop-up-menu_submenu_button:hover {
  border-top: 2px solid #F16D7F;
  border-bottom: 2px solid #F16D7F;
}

.pop-up-menu_section_button:hover {
  border-top: 2px solid #F16D7F;
  border-bottom: 2px solid #F16D7F;
}

/* задание отступа для первой кнопки */

.main-menu_items:first-of-type .main-menu_items_button {
  padding-left: 20px;
}

/* задание отступа для последней кнопки */

.main-menu_items:last-of-type .main-menu_items_button {
  padding-right: 6px;
}

/* для позиционирования блока с количеством товаров в корзине */

.cart-button {
  position: relative;
}

/* блок с количеством товаров в корзине */

.cart-button::after {
  content: "5";
  display: block;
  position: absolute;
  padding: 2px 6px;
  /* 19px это половина высоты иконки */
  top: calc(100% / 2 - 19px);
  right: 0;
  background: #F16D7F;
  border-radius: 10px;
  font: 12px/1.2 "Lato";
  color: #FFF;
}

/* эффект наведения на кнопку (курсор) */

.pop-up-menu-button:hover {
  cursor: pointer;
}

/* эффект наведения на кнопки (цвет) */

.main-menu_items_button:hover .icon-color {
  fill: #F16D7F;
}

/* эффект получения фокуса кнопкой */

.main-menu_items_button:focus {
  outline: none;
}

.main-menu_items_button:focus .icon-color {
  fill: #F16D7F;
}

/* || HEADER-BOTTOM */

.header-bottom {
  display: flex;
  position: relative;
  min-height: 764px;
  background: #F1E4E6;
}

.header-bottom>.container {
  flex: 1 1 auto;
  position: relative;
  background: url(../images/header-bottom_background.png) no-repeat;
  background-position: left -210px bottom;
}

/*  | Слоган */

.tagline {
  display: flex;
  width: 405px;
  padding: 0 0 0 16px;
  font: 900 48px/1em "Lato";
  position: absolute;
  left: calc(100% - 500px);
  top: 303px;
  text-transform: uppercase;
}

.tagline .text_bold {
  font: 700 32px/1.2 "Lato";
}

.tagline .text_bold_pink {
  font: 700 32px/1.2 "Lato";
  color: #F16D7F;
}

.tagline-decoration {
  display: block;
  margin-right: 16px;
  flex: 0 0 12px;
  background: #F16D7F;
  /* разница выстоты строки 1.15 и шрифта 48px */
  margin-top: calc(48px * 0.15);
  /* разница выстоты строки 1.2 и шрифта 32px */
  margin-bottom: calc(32px * 0.2);
}

/* || CONTENT */

.content>.container {
  display: flex;
  flex-direction: column;
}

/*  | Меню категорий товаров */

.category-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: calc(20px + 100% * 45 /116 - 992px * 45 / 116);
  margin-bottom: 90px;
  padding-left: 0;
  list-style: none;
}

.category-menu_item {
  display: block;
  margin-right: calc(100% * 30 / 1140);
  flex: 1 1 239px;
}

.category-menu_item:last-of-type {
  margin-right: 0;
  margin-top: calc(100% * 30 / 1140);
  flex: 2 1 735px;
}

.category-menu_item:nth-last-of-type(2) {
  margin-right: 0;
}

/* вычисление высоты кнопок в зависимости от соотношения сторон
   картинок для фона */

.calc-button-height {
  position: relative;
  padding-top: calc(100% * 260 / 360);
}

/* вычисление высоты последней кнопки в зависимости от соотношения сторон
   картинки для фона */

.category-menu_item:last-of-type .calc-button-height {
  padding-top: calc(100% * 180 / 1140);
}

.category-menu_button {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  font: 700 24px/1.2 "Lato";
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #F16D7F;
  background-color: rgba(33, 22, 22, 0.7);
  transition: background-color 0.4s, box-shadow 0.4s;
  overflow: hidden;
}

/*  дополнительный текст к кнопкам */

.category-menu_item:nth-child(1) .category-menu_button:before {
  content: "30% off";
  font: 16px/1.2 "Lato";
  text-transform: uppercase;
  color: #FFF;
}

.category-menu_item:nth-child(2) .category-menu_button:before {
  content: "hot deal";
  font: 16px/1.2 "Lato";
  text-transform: uppercase;
  color: #FFF;
}

.category-menu_item:nth-child(3) .category-menu_button:before {
  content: "new arrivals";
  font: 16px/1.2 "Lato";
  text-transform: uppercase;
  color: #FFF;
}

.category-menu_item:nth-child(4) .category-menu_button:before {
  content: "luxirous & trendy";
  font: 16px/1.2 "Lato";
  text-transform: uppercase;
  color: #FFF;
}

/*  фоновые изображения для кнопок */

.for-women_button {
  background: url(../images/button_for-women.jpg) no-repeat center / cover;
}

.for-men_button {
  background: url(../images/button_for-men.jpg) no-repeat center / cover;
}

.for-kids_button {
  background: url(../images/button_for-kids.jpg) no-repeat center / cover;
}

.accesories_button {
  background: url(../images/button_accesories.jpg) no-repeat center / cover;
}

/* эффект наведения для кнопок меню категорий товаров */

.category-menu_button:hover {
  background-color: rgba(33, 22, 22, 0.1);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.31);
}

/* эффект при получении фокуса для кнопок меню категорий товаров */

.category-menu_button:focus {
  background-color: rgba(33, 22, 22, 0.1);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.31);
  outline: none;
}

/* || FETURED-ITEMS */

.fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  | Заголовок */

.fetured-items_heading {
  margin: 6px 0;
  padding: 0 18px;
  font: 30px/1.2 "Lato";
  text-align: center;
}

/*  | Описание */

.fetured-items_text {
  margin: 0;
  padding: 0 18px;
  font: 14px/1.2 "Lato";
  text-align: center;
}

/*  | Кнопки популярных товаров */

.fetured-items_container {
  margin: 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  grid-gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  width: 360px;
  min-height: 581px;
  background: #F8F8F8;
  transition: box-shadow 0.4s;
}

/* блок для добавления фона на изображение при наведении на кнопку */

.item::after {
  content: "";
  display: block;
  width: 100%;
  height: 420px;
  position: absolute;
  transition: background-color 0.4s;
}

.item-info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 25px 20px 20px 20px;
  padding-right: 8px;
  font: 300 14px/1.2 "Lato";
}

.item-info_name {
  flex: 0 1 auto;
  margin: 0 0 13px 0;
  font: 13px/1.2 "Lato";
  text-transform: uppercase;
}

.item-info_description {
  flex: 1 1 auto;
  margin: 0 0 18px 0;
  color: #5D5D5D;
}

.item-info_price {
  margin: 0;
  justify-self: flex-end;
  font: 16px/1.2 "Lato";
  color: #F16D7F;
}

.item-button {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  font: 0px/0 "Lato";
}

.item-button_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  align-self: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 2;
  /* центрирование кнопки в зависимости от количества строк*/
  top: calc(196px - 0.5em * 1);
  padding: 14px;
  border: 1px solid #FFF;
  font: 14px/1.2 "Lato";
  text-decoration: none;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.4s;
}

.icon-add-to-cart {
  padding-right: 11px;
}

/* эффект наведения для кнопок (тень) */

.item:hover {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
}

/* эффект при получении кнопкой фокуса (тень) */

.item:focus-within {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
}

/* отображение дополнительной кнопки добавление в корзину при наведении */

.item:hover .item-button_cart {
  opacity: 1;
}

/* отображение дополнительной кнопки добавления в корзину при фокусе */

.item:focus-within .item-button_cart {
  opacity: 1;
}

/* отключение обводки у кнопок при фокусе */

.item-button:focus {
  outline: none;
}

/* эффект объемной кнопки для дополнительной кнопки добавления в корзину */

.item-button_cart:hover {
  border: 2.5px outset #FFF;
}

.item-button_cart:focus {
  border: 2.5px outset #FFF;
  outline: none;
}

.item-button_cart:active {
  border: 2.5px inset #FFF;
}

/* добавления фона на изображение при наведении на кнопку */

.item:hover::after {
  background: rgba(58, 56, 56, 0.86);
}

/* добавления фона на изображение при получении кнопкой фокуса */

.item:focus-within::after {
  background: rgba(58, 56, 56, 0.86);
}

/*  | Кнопка для перехода к каталогу товаров */

.fetured-items_button {
  align-self: center;
  display: block;
  box-sizing: border-box;
  margin-bottom: 95px;
  padding: 14px 38px;
  border: 1px solid #FF6A6A;
  text-decoration: none;
  font: 16px/1.2 "Lato";
  color: #FF6A6A;
  background-color: #FFF;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}

/* эффект наведения на кнопку */

.fetured-items_button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFF;
}

/* эффект при получении фокуса кнопкой */

.fetured-items_button:focus {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFF;
  outline: none;
}

/* || FOOTER-TOP */

/*  | Меню услуг */

.service-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.service-menu_items {
  width: 100%;
  height: 100%;
}

/*  | Кнопки меню услуг */

.service-menu_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 0;
  font: 300 14px/1.2 "Lato";
  text-align: center;
  text-decoration: none;
  color: #FBFBFB;
  transition: color 0.4s;
}

.service-menu_button>h2 {
  width: 360px;
  margin: 19px 0 16px 0;
}

.service-menu_button>p {
  width: 360px;
  margin: 0;
}

/* эффект наведения на кнопку */

.service-menu_button:hover {
  color: #F16D7F;
}

/* эффект при получении фокуса кнопкой */

.service-menu_button:focus {
  color: #F16D7F;
  outline: none;
}

/* || FOOTER-MIDDLE */

.footer-middle {
  position: relative;
  background: url("../images/background_footer.jpg") no-repeat left / cover;
}

/*  | Форма для подписки */

.subscribe {
  min-height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appeal {
  max-width: 356px;
  margin: 0;
  text-align: center;
  font: 0/0 "Lato";
}

.quote {
  margin-top: 30px;
  font: 20px/1.2 "Lato";
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 356px;
}

.subscribe-form_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 32px 0;
  font: 18px/1.672 "Lato";
  text-transform: uppercase;
}

.subscribe-form_heading .text_bold {
  font: 700 24px/1.672 "Lato";
}

.subscribe-form_input {
  flex: 1 0 auto;
  padding: 16px 22px;
  outline: none;
  border: none;
  border-radius: 25px 0 0 25px;
  font: 14px/1.2 "Lato";
  background: #E1E1E1;
}

.subscribe-form_button {
  padding: 16px 22px;
  outline: none;
  border: none;
  border-radius: 0 25px 25px 0;
  font: 14px/1.2 "Lato";
  background: #F16D7F;
  color: #FFF;
  transition: filter 0.4s;
}

/* эффект наведения на кнопку */

.subscribe-form_button:hover {
  cursor: pointer;
  filter: brightness(125%);
}

/* эффект при получении фокуса кнопкой */

.subscribe-form_button:focus {
  cursor: pointer;
  filter: brightness(125%);
  outline: none;
}

/* FOOTER-BOTTOM */

.footer-bottom>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  font: 16px/1.2 "Lato";
  color: #FBFBFB;
}

.social-menu {
  display: flex;
  justify-content: space-between;
  width: 148px;
  margin: 24px 0;
  padding-left: 0;
  list-style: none;
}

.social-menu_item {
  width: 32px;
  height: 32px;
}

.social-menu_item_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: #FFF;
  transition: background-color 0.4s;
}

/* эффект наведения на кнопку */

.social-menu_item_button:hover {
  background-color: #F16D7F;
}

.social-menu_item_button:hover .fab {
  color: #FFF;
}

/* эффект при получении фокуса кнопкой */

.social-menu_item_button:focus {
  background-color: #F16D7F;
  outline: none;
}

.social-menu_item_button:focus .fab {
  color: #FFF;
}

.fab {
  color: #000;
  transition: color 0.4s;
}

/* Для перестроения блоков подвала вертикально когда все кнопки меню услуг не помещаются в одну строку */

@media (min-width: 1601px) {
  .pop-up-menu_wrapper {
    left: calc(50% + 570px);
    right: initial;
  }
}

@media (max-width: 1111px) {
  .service-menu {
    flex-direction: column;
  }
  .service-menu_button {
    padding: 48px 0;
  }
  .service-menu_items:last-child>.service-menu_button {
    padding: 48px 0 64px 0;
  }
  .subscribe {
    flex-direction: column;
    justify-content: center;
  }
  .appeal {
    margin: 64px 0;
  }
  .subscribe-form {
    margin-bottom: 140px;
  }
  .subscribe-form_heading {
    margin-bottom: 27px;
  }
}